/*boton*/

body {
	margin:0;
	font-family:'Minion Pro';

}

header{ /*caja contenedora del menu*/
	width: 100%;
	background: #009EE3;
}

#btn-menu {
	display:none;
}

header label {
	display:none;
	width:30px;
	height: 30px;
	padding: 0;
	border-right: 1px solid #fff;
}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

/* fin boton*/

/*menu*/

.menu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.menu li{
	width:125px;
	border-right:1px solid #fff;
	border-top: 1px solid #fff;
}
.menu li:hover{
	background: rgba(0,0,0,0.3);
	transition: all 0.5s;
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
/* fin menu*/


#lanzarote {
	color:#fff;
	font-family: 'Minion Pro';
	font-size: 56px;
	text-align:center;
	margin:0 auto;
	padding:0;

	
}


#contingut 
{	
	background-color: #A9E2F3;
	margin:0 auto;
	padding:0;
	text-align:center;

	
}


/*NO TOCAR*/


#contacte { /*dimensiones y color de contacto*/
	padding-top: 5%;
	background-color: #3E3634;
	
}


#privacitat li a { /*color de las letras*/
	color: #fff;
	padding: 15px 20px;


}

#privacitat li a:link   /*subrayado de las palabras*/
{   
 text-decoration:none;   
}




@media only screen and (min-width: 768px) and (orientation:landscape)
{ /*no mover*/
header label: {display:block;


}

.menu {
	
	
	width: 70%;
	margin: 0 auto;
	
}

.menu ul {
	
	display: inline-block;
	
}

#btn-menu:checked ~ .menu{
	margin:0;
}

.fb{
	
	display: inline;
	padding:right;
}

.tw{
	
	display:inline;
	padding: right;
}


#privacitat { /*dimensiones de la caja y orientacion del texto*/
	height:20%;
	background-color: #4D4847;
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 15px 15px;

}
/*no mover*/


#texto {
	padding:1px;
	margin: 0 auto;
	width: 40%;


}

iframe {
	width:76%; 
	height:53%;
	border:none;
}


table {
	border: 2px solid #fff;
	margin: 0 auto;
	text-align:center;
}



}

@media only screen and (min-width: 768px) and (orientation:portrait)
{ /*no mover*/
header label: {display:block;


}

.menu {
	
	
	width: 70%;
	margin: 0 auto;
	
}

.menu ul {
	
	display: inline-block;
	
}

#btn-menu:checked ~ .menu{
	margin:0;
}


#contacte {
	margin-left:42%;
}


.fb{
	
	display: inline;
	padding:right;
	margin-left: 20px;
}

.tw{
	
	display:inline;
	padding: right;
	margin-left:0%;
}


#privacitat { /*dimensiones de la caja y orientacion del texto*/
	height:20%;
	background-color: #4D4847;
	list-style: none;
	display: inline-flex;
	justify-content: center;
	padding: 15px 15px;

}
/*no mover*/

#texto {
	padding:1px;
	margin: 0 auto;
	width: 40%;
	
}


iframe {
	width:100%; 
	height:53%;
	border:none;
}
table {
	border: 2px solid #fff;
	margin: 0 auto;
	text-align:center;
}
}






